<p align="center" id="notice"><%= notice %></p>

<h2 align="center">Title:<%= @recipe.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">
  <% if @recipe.user %> <!-- This specific statement will render the recipe if this does not have a user -->
    <ul class="listing">
      <div class="row center">
          <div class="col-md-4 col-md-offset-4">
              <li>Cooked by</li>
              <li><%= link_to gravatar_for(@recipe.user), user_path(@recipe.user) %></li><!-- list User's Gravatar and link it to the use's show page-->
              <li class="recipe-title">
              <%= link_to @recipe.user.username, user_path(@recipe.user) %> </li><!-- list and link Users's name to the use's show page-->
              <li>
                  <small>
                      <%= pluralize(@recipe.user.recipes.count, "recipe") if @recipe.user.recipes %><!--list how many recipes a user has created if he has recipe--> 
                  </small>
              </li>
          </div>
      </div>
    </ul>
  <%end%>
  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@recipe.description) %>

  <div class="recipe-actions">
    <% if logged_in? && (current_user == @recipe.user || current_user.admin?) %><!-- This statemnet checks if the user logged in is the recipe creator and  the admin-->
      <%= link_to 'Update', edit_recipe_path(@recipe), class: "btn btn-xs btn-primary" %> |
      <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %> |
    <%end%>  
      <%= link_to 'All Recipes', recipes_path, class: "btn btn-xs btn-success" %>
      
<!-- Like/Dislike Feature -->
<div class='pull-right'>
  
  <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
    <i class='glyphicon glyphicon-thumbs-up'></i> &nbsp 
    <%= @recipe.thumbs_up_total%><!--to count how many likes a user has received -->
  <%end%>
  
  &nbsp&nbsp&nbsp
  
  <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
    <i class='glyphicon glyphicon-thumbs-down'></i> &nbsp 
    <%= @recipe.thumbs_down_total%><!--to count how many Dilikes a user has received -->
  <%end%>
  #<!-- Source: Udemy course-->

</div>

  </div>
</div>